body {
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}
.container {
  width: 1168px;
  padding: 0 16px;
  margin: 0 auto;
}
.header {
  padding: 20px 0;
}

.header .container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  margin-right: 90px;
  align-items: center;
}
.header-logo {
  display: inline-block;
  font-style: italic;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11111;
  letter-spacing: -0.03em;
  color: #111;
}
.header-logo span {
  font-style: normal;
}
.header .nav-list {
  display: flex;
  gap: 24px;
  margin-left: 365px;
}
.nav-list-item {
}
.nav-link {
  display: block;
  padding: 12px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14286;
  letter-spacing: -0.02em;
  color: #111;
}

.nav-link:hover,
.nav-link:focus {
  color: #fd9222;
}
.header-list-icon {
  display: flex;
  gap: 14px;
}
.header-item-icon {
}

.page-benefits {
padding-top: 80px;
padding-bottom: 120px;
}

.visually-hidden{
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}

.benefits-item {
display: flex;
row-gap: 50px;
gap: 88px;
}

.benefits-list {
width: calc((100%-176px)/3);
}

.benefits-list-title {
margin-bottom: 18px;
}

